# Ignore environment variables file
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore Airflow logs
logs/
airflow/logs/

# Ignore database files
*.db
*.sqlite

# Ignore Docker volumes
postgres_data/

# Ignore GitHub Actions runner files
actions-runner/
